USE [master]
GO
/****** Object:  Database [ShreyasDb]    Script Date: 11/8/2019 5:05:30 PM ******/
CREATE DATABASE [ShreyasDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShreyasDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ShreyasDb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShreyasDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ShreyasDb_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShreyasDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShreyasDb]
GO
/****** Object:  UserDefinedFunction [dbo].[fn1]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn1] 
(
	-- Add the parameters for the function here
	@param int
)
RETURNS int
AS
BEGIN
	exec sp1
	-- Return the result of the function
	RETURN 1

END

GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AGENTS]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENTS](
	[AGENT_CODE] [char](6) NOT NULL,
	[AGENT_NAME] [char](40) NULL,
	[WORKING_AREA] [char](35) NULL,
	[COMMISSION] [float] NULL,
	[PHONE_NO] [char](15) NULL,
	[COUNTRY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[AGENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUST_CODE] [varchar](6) NOT NULL,
	[CUST_NAME] [varchar](40) NOT NULL,
	[CUST_CITY] [char](35) NULL,
	[WORKING_AREA] [varchar](35) NOT NULL,
	[CUST_COUNTRY] [varchar](20) NOT NULL,
	[GRADE] [float] NULL,
	[OPENING_AMT] [float] NOT NULL,
	[RECEIVE_AMT] [float] NOT NULL,
	[PAYMENT_AMT] [float] NOT NULL,
	[OUTSTANDING_AMT] [float] NOT NULL,
	[PHONE_NO] [varchar](17) NOT NULL,
	[AGENT_CODE] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AGENTS] ([AGENT_CODE], [AGENT_NAME], [WORKING_AREA], [COMMISSION], [PHONE_NO], [COUNTRY]) VALUES (N'A001  ', N'Subbarao                                ', N'Bangalore                          ', 0.14, N'077-12346674   ', 0)
INSERT [dbo].[AGENTS] ([AGENT_CODE], [AGENT_NAME], [WORKING_AREA], [COMMISSION], [PHONE_NO], [COUNTRY]) VALUES (N'A002  ', N'Mukesh                                  ', N'Mumbai                             ', 0.11, N'029-12358964   ', 0)
INSERT [dbo].[AGENTS] ([AGENT_CODE], [AGENT_NAME], [WORKING_AREA], [COMMISSION], [PHONE_NO], [COUNTRY]) VALUES (N'A003  ', N'Alex                                    ', N'London                             ', 0.13, N'075-12458969   ', 0)
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (1, N'Cat1')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (1, N'Languages')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (2, N'Operating System')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (3, N'Artificial Intelligence')
SET IDENTITY_INSERT [dbo].[Category] OFF
INSERT [dbo].[CUSTOMER] ([CUST_CODE], [CUST_NAME], [CUST_CITY], [WORKING_AREA], [CUST_COUNTRY], [GRADE], [OPENING_AMT], [RECEIVE_AMT], [PAYMENT_AMT], [OUTSTANDING_AMT], [PHONE_NO], [AGENT_CODE]) VALUES (N'C00001', N'Micheal', N'New York                           ', N'New York', N'USA', 2, 3000, 5000, 2000, 6000, N'CCCCCCC', N'A008  ')
INSERT [dbo].[CUSTOMER] ([CUST_CODE], [CUST_NAME], [CUST_CITY], [WORKING_AREA], [CUST_COUNTRY], [GRADE], [OPENING_AMT], [RECEIVE_AMT], [PAYMENT_AMT], [OUTSTANDING_AMT], [PHONE_NO], [AGENT_CODE]) VALUES (N'C00002', N'Bolt', N'New York                           ', N'New York', N'USA', 3, 5000, 7000, 9000, 3000, N'DDNRDRH', N'A008  ')
INSERT [dbo].[CUSTOMER] ([CUST_CODE], [CUST_NAME], [CUST_CITY], [WORKING_AREA], [CUST_COUNTRY], [GRADE], [OPENING_AMT], [RECEIVE_AMT], [PAYMENT_AMT], [OUTSTANDING_AMT], [PHONE_NO], [AGENT_CODE]) VALUES (N'C00003', N'Martin', N'Torento                            ', N'Torento', N'Canada', 2, 8000, 7000, 7000, 8000, N'MJYURFD', N'A004  ')
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [ProductName], [CategoryId]) VALUES (1, N'C#', 1)
INSERT [dbo].[Products] ([ID], [ProductName], [CategoryId]) VALUES (2, N'PHP', 1)
INSERT [dbo].[Products] ([ID], [ProductName], [CategoryId]) VALUES (3, N'Python', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([AGENT_CODE])
REFERENCES [dbo].[AGENTS] ([AGENT_CODE])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
/****** Object:  StoredProcedure [dbo].[sp1]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp1]
as begin

select 'ok' as value

end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCategory]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCategory]
@START INT,
@LENGTH INT,
@TOTALRECORDS INT OUTPUT
AS BEGIN

SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowId,* INTO #T FROM Category 

SELECT ID, CategoryName FROM #T WHERE RowId BETWEEN @START + 1 AND @START + @LENGTH

SET @TOTALRECORDS = (SELECT COUNT(*) AS TotalRecords FROM Category)

--SELECT * FROM Category

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProduct]    Script Date: 11/8/2019 5:05:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetProduct]
@CategoryId INT
AS BEGIN

SELECT P.ID, P.ProductName, C.CategoryName FROM Products P
JOIN Category C ON C.ID = P.CategoryId
WHERE CategoryId = @CategoryId

END
GO
USE [master]
GO
